{% extends 'index.html' %}

{% block navbar %}
    <div class="title p10 bold">Asset Library</div>
{% endblock %}

{% block content %}

    <div class="flex-row flex-no-shrink p10">
        <div class="flex-grow"></div>
        <div>
            <input type="text" class="w30 search" onkeyup="apply_filters(this)" placeholder="Search">
        </div>
    </div>

    <div class="flex-grow flex-row flex-wrap p10" id="asset_library">

    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/asset_library.js"></script>
{% endblock %}